<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:brewer="http://brewer.projetojava.com">

<head>
    <title>Pesquisa de Usuários</title>
</head>

<body>
<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de Usuários</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/usuarios/novo}">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <span class="hidden-xs hidden-sm">Novo Usuário</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <form method="GET" th:object="${usuarioFilter}">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" id="nome" class="form-control" autofocus="autofocus" th:field="*{nome}">
                </div>
                <div class="form-group col-sm-6">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="text" id="email" class="form-control" th:field="*{email}">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Grupos</label>
                    <div>

                        <th:block th:each="grupo : ${grupos}">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
                                <label class="control-label" th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}"></label>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Pesquisar</button>
            </div>
        </form>

        <div class="aw-datatable-toolbar">
            <button class="btn btn-default btn-xs js-status-btn" data:status="ATIVAR">
                <span>Ativar</span>
            </button>
            <button class="btn btn-default btn-xs js-status-btn" data:status="DESATIVAR">
                <span>Desativar</span>
            </button>
        </div>

        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-usuarios-col-checkbox">
                        <div class="checkbox aw-checkbox-no-margin">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </th>
                    <th class="table-usuarios-col-nome">
<!--                        <brewer:order page="${usuariosPagina}" field="codigo" text="Código"/>-->
                        Nome
                    </th>

                    <th class="table-usuarios-col-email">
<!--                        <brewer:order page="${usuariosPagina}" field="nome" text="Nome"/>-->
                        E-mail
                    </th>

                    <th class="table-usuarios-col-grupo">
<!--                        <brewer:order page="${usuariosPagina}" field="nome" text="Nome"/>-->
                        Grupo(s)
                    </th>

                    <th class="table-usuarios-col-status">
<!--                        <brewer:order page="${usuariosPagina}" field="nome" text="Nome"/>-->
                        Status
                    </th>

                    <th class="table-usuarios-col-acoes"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td>
                        <div class="checkbox aw-checkbox-no-margin" >
                            <input type="checkbox" class="js-selecao" data:codigo="${usuario.codigo}">
                            <label></label>
                        </div>
                    </td>
                    <td th:text="${usuario.nome}">Emanuela</td>
                    <td th:text="${usuario.email}"></td>
                    <td>
                       <span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span>
                    </td>
                    <td th:text="${usuario.ativo} ? Ativo : Inativo">Ativo</td>
                    <td class="text-right">
                        <a class="btn  btn-link  btn-xs" title="Editar">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs" title="Excluir">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(usuarios)}">
                    <td colspan="4">Nenhum usuário encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>

<!--        <div class="col-sm-12 text-center" th:if="${not estilosPagina.vazia}">-->
<!--            <brewer:pagination page="${estilosPagina}" />-->
<!--        </div>-->
    </div>


</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/multiselecao.js}"></script>
</th:block>
</body>

</html>