<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Cerveja</title>
</head>
<body>
	<h1>Cadastro de cervejas</h1>
	
	<form action="" method="POST">
		<span th:text="${mensagem}"></span>
		<br>
		
		<label>SKU</label>
		<input name="sku">
		<br>
		
		<label>Nome</label>
		<input name="nome">
		<br>
		
		<label>Descrição</label>
		<textarea name="descricao"></textarea>
		<br>
		
		
		<input type="submit">
	</form>
</body>
</html>